/*
 todoList style
*/

/*variables*/
:root {
	--righteous-font: 'Righteous', cursive;
}

body {
	/*background-color: #536691;*/
	background-image: url("http://pctechtips.org/apps/todo/img/Chicago-Wallpaper-3.jpg");
    min-height: 100vh;
    z-index: -10;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 1.3rem;		    
}
.hero {
	position: absolute;
    min-height: 100vh;
    min-width: 100vw;
    top: 0;
    bottom: 0;
    background-color: rgba(31, 34, 118, 0.5);
}

h1 {
	margin-top: 12rem;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-family: var(--righteous-font);
}

.lead {
	font-size: 1.5rem;
	font-family: var(--righteous-font);
}
ul {
	/*border-top: 2px solid white;*/
	margin-top: 2rem;
	list-style: none;
	/*display: none;*/
}
li {
	border-bottom: 1px solid white;
	padding: 0.5rem 0 0.5rem 0;
	margin: 0 1rem 0 1rem;
}
.checkboxes {
	float: right;
	line-height: 15px;
	width: 17px;
	height: 17px;
	background-color: #e9ecef;
	border: 1px solid #e9ecef;
	border-radius: 3px;
}
